.login-container {
	-fx-padding: 20px;

}

TextField, PasswordField {
	-fx-width: 200px;
	-fx-max-width: 300px;
}

Button:default {
    -fx-effect: null; /* bỏ glow mặc định */
	-fx-background-color: #adb5bd;
}

Button:hover {
	-fx-background-color: #6c757d;
}